/*Cela permet de "coller" tous les éléments de la page surtout les boîtes flex CSS et va appliquer la même police à tous les éléments*/

@font-face {
	font-family:"Dyno";
	src: url('Police/Dyno Regular.ttf');
}
@font-face {
	font-family:"Dyno";
	font-style:italic;
	src: url('Police/Dyno Italic.ttf');
}
@font-face {
	font-family:"Dyno";
	font-weigth: bold;
	src: url('Police/Dyno Bold.ttf');
}
@font-face {
	font-family:"Cicle";
	src: url('Police/Cicle Fina.ttf');
}
@font-face {
	font-family:"Cicle";
	font-style:italic;
	src: url('Police/Cicle Fina Italic.ttf');
}

html{
  height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: "Dyno","Cycle", Arial, sans-serif;
}
h1,h2 {
	font-family: "Dyno", Arial, sans-serif;
	float:middle;
	margin-left: auto;
	margin-right:auto;
}

p,pre {
	font-family: "Cycle", Arial, sans-serif;
}

h1 {
	font-style: normal;
	font-weigth: bold;
	text-align: center;
}

h2 {
	font-style: italic;
	font-weight: normal;
	margin: auto;
}

p {
	font-style: normal;
	font-weight: normal;
}

pre {
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

/*Permet de surligner sur la barre de navigation sur quelle page nous sommes*/
.active{
    background-color: rgba(248, 176, 62, 0.85);
    color: white;
}

/*Va enlever les marges sur les côtés de la page*/
body{
    margin:0;
		overflow-x: hidden;
}

/*Boîte flex CSS contenant le titre en haut de la page et sous titre*/
.header{
    padding: 5%;
    font-size: 30px;
    text-align: center;
    background: url("Images/image.png") no-repeat;
		background-size: cover;
		color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickyTwo{
  position: fixed;
}

.sticky + .row {
  padding-top: 60px;
}

/*Boîte flex CSS contenant la barre de navigation*/
.navbar, .topnav {
  overflow: hidden;
    display: flex;
    background-color: #505050;
}

/*Liste pour la barre de navigation*/
ul.navbar, .topnav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #505050;
}

.topnav {
    position: relative;
    flex-direction: column;
    text-align: center;
    width: relative;
    height: relative;
}


.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  padding-right: revert;
  padding-left: revert;
  width: 25%;
}

.topnav li a, .topnav .dropbtn, .topnav .dropdown-content *:not(.active){
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  padding-right: revert;
  padding-left: revert;
  width: 100%;
}

.topnav .dropdown-content *:not(.active){
  color: black;
  background-color: white;
}

.topnav .dropdown-content .active{
  color: white;
  background-color: rgb(248, 176, 62);
}

.topnav .dropdown-content *:not(.active):hover{
  background-color: rgb(248, 176, 62);
  color: white;
}

.topnav li a:hover, .topnav .dropdown:hover .dropbtn {
    background-color: rgb(248, 176, 62);
    color: white;
}

.topnav .dropdown-content, .topnav .dropdown-content a {
  position: block;
  flex-direction: column;
  text-align: center;
  width: relative;
  height: relative;
}


/*Position de la liste/des informations de la barre de navigation sur la gauche*/
.navbar li{
    float: left;
}

/*La liste/barre de navigation est horizontale*/
.navbar li a, .navbar .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

/*Spécifie la couleur de l'arrière plan des principaux objets de la liste/barre de navigation lorsque la souris est positionné au dessus*/
.navbar li a:hover, .navbar .dropdown:hover .dropbtn {
    background-color: rgb(248, 176, 62);
}

/*(Ne sert à rien mais peut servir :) )
.navbar li.dropdown {}*/

/*Disposition des choix des menus déroulant de certains objets de la liste/barre de navigation*/
.navbar .dropdown-content, .topnav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.navbar .dropdown-content *:not(.active):hover{
  background-color: rgb(258, 176, 62);
  color: white;
}

.navbar li a:hover, .navbar .dropdown:hover .dropbtn {
    background-color: rgb(248, 176, 62);
    color: white;
}

/*Présentation des liens des menus déroulant de certains objets de la liste/barre de navigation*/
.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/*Spécifie la couleur de l'arrière plan des objets secondaires de la liste/barre de navigation lorsque la souris est positionné au dessus*/
.navbar .dropdown-content a:hover {
    background-color: #f7af3e;
		color: white;
}

/*Disposition basique choix des menus déroulant de certains objets de la liste/barre de navigation*/
.navbar .dropdown:hover .dropdown-content {
    display: block;
}

/*Boîte de flex CSS contenant, attribuant et organisant l'espace spécifique de boîtes flex CSS "main" et "side"*/
.row{
    display: flex;
    flex-wrap: auto;
		font-size:auto;
    height: 100%;
}

/*Boîte de flex CSS contenant les informations importantes de la page web comme des articles et placé à gauche de page dans le "row"*/
.main{
    flex: 65%;
    background-color: white;
    padding: 20px;
		margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

/*Boîte flex CSS contenant les informations secondaires de la page web et placé à droite de la pge dans le "row"*/
.side{
    flex: 35%;
    background-color: #333333;
    padding: 20px;
		margin-left: 5%;
    margin-right: auto;
		color: white;
    min-height: 100%;
}

.footer {
  display: inline-block;
  text-align:center;
  margin: 0 auto;
     max-width: 20;
     min-width: 100%;
     vertical-align:top;
  vertical-align: text-top;
}

.footer-2{
  vertical-align: text-top;
  width: 100%;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	display: flex;
	flex-flow: row wrap;
  color: #ea5c0d;
  float: middle;
  background: #505050;
  display: inline-block;
}

.footer-2 div{
  vertical-align: text-top;
}



/*
/*Boîte flex CSS contenant les informations pour contacter et des liens spécifiques vers d'autres pages du site placé en bas du site
.footer{
    display: flex;
	  flex-wrap: auto;
    padding: 5px;
    text-align: center;
    background: #505050;
    float: middle;
    margin-right: 0 auto;
    margin-left: 0 auto;
	  color: #ea5c0d;
}
*/
/*Disposition des informations de la boîte flex CSS "footer"*/
div#Infos1, div#Infos2, div#Infos3, div#Infos4, div#Infos5, div#Infos6{
	flex: ;
  padding: 20px 20px 20px 20px;
  margin-right: 100px auto;
  margin-left: 100px auto;
  text-align: center;
  float: middle;
  display: inline-block;
}

/*Disposition des textes et liens des informations de la boîte flex CSS "footer"*/
.footer-2 p{
	width: 100%;
  margin-right: 10 auto;
  margin-left: 10 auto;
}

/*Disposition global des images dans la boîte flex CSS "main"*/
.main img{
	margin-right: 0:auto;
	margin-left: 0:auto;
	float: middle;
	padding: 4px;
}

/*Disposition du Google Form d'inscription dans le "side" du site*/
iframe.GForm{
	width: inherit;
	height: 500px;
}

#myLinks {
  display: none;
}

#myLinksInformation {
  display: none;
}

#myLinksCompte {
  display: none;
}


#navbar{
  display:block;
  overflow: hidden;
    display: flex;
    background-color: #505050;
}

#navbarMobile {
  display:none;
}

@media screen and not (max-width: 1000px) {
  #navbar{
    display: flex;
  }
}

/*Change la disposition complète de la page pour s'adapter aux tailles du navigateur (par exemple en fonction de l'appareil utilisé), tous sera disposé en une colonne*/
@media screen and (max-width: 1000px) {
    .row, .navbar, .navbar .dropdown-content, .navbar .dropdown-content a , .footer-2, img.imgNavHea{
        position: relative;
        flex-direction: column;
        text-align: center;
				width: relative;
				height: relative;
    }


    #navbarMobile {
      display:block;
    }

    #navbar{
      display:none;
    }

    map, .likeImg, img:not(.imgNavHea){
      position: relative;
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 20px;

    }

    .side, .main{
      margin-left: 0;
    }

    .side, .likeImg {
      width : 100%;
      min-height: 500px;
    }

    .navbar li a, .navbar .navbar .dropbtn,{
        display: block;
    }

    ul.navbar{
      width: 100%;
    }

    .navbar li a, .navbar .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      padding-right: revert;
      padding-left: revert;
      width: 100%;
    }

    .tableAboutUs{
      text-align: center;
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .tableAboutUs div *{
      width: 100%;
      text-align: center;
    }

    .containerAboutUs{
      min-height: 600px;
      border-top: 5px solid black;
    }

    .nameAboutUs{
      min-height: 0px;

    }

    #firstContainerAboutUs{
      border-top: none;
    }

	iframe.GForm{
		width: 100%;
		height: relative;
	}
}

/* Peut servir à créer des textes avec une image dans son "alinéa" mais ne servant pas à l'heure actuel*/
.imgGauche{
    float: left;
    padding: 20px;
}

.textImgGauche{
    padding: 20px;
}

iframe.YTVid{
	max-width: relative;
	max-height: relative;
}
a { color:#ea5c0d ; /*par exemple, pour le comportement standart*/ }
a:hover { color: #f7af3e;}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(258, 176, 62);
  color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.frise{
		display: block;
    margin-left: auto	;
    margin-right: auto;
}

map area{
	outline:0;
}

/*About Us*/


#noussommesAboutUs {
  font-size: 55px;
}

.tableAboutUs{
  width:100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}

.tableAboutUs *{
  font-size: 32px;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
/*
.containerAboutUs img{
  height: 75%;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/

.containerAboutUs{
  display:inline-block;
  width:calc(50% - 2px);
}

.containerAboutUs tr{
  display: flex;
  flex-direction: column;
}

.containerAboutUs img{
  width: 250px auto;
  height: 250px auto;
  max-width: 250px;
  max-height: 250px;
}

.nameAboutUs{
  display: block;
  min-height: 100px;
  padding-top: 55px;
}

img.linkedInAboutUs{
  width: 100px;
  height: 100px;
}

.navbar, .navbar *{
  z-index : 9999
}
