.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil h2 {
    margin-top: 20px;
    text-align: center;
}

.profil table {
    width: 30%;
    margin-top: 20px;
}
