.profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil h2 {
    margin-top: 20px;
    text-align: center;
}

.profil table, .profil table thead, .profil table thead th {
    width: 30%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 3px solid black;
}

.profil table tr, .profil table tr td{
  width: 30%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 5px solid black;
}
